@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}
<a asp-action="Index" class="btn btn-dark">Go back</a>
<div class="row mt-3">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="post">

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control form-control-lg" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CheckPassword">EqualPassword</label>
            <input asp-for="CheckPassword" class="form-control form-control-lg" placeholder="Re-Password">
            <span asp-validation-for="CheckPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Change</button>
    </form>
</div>

